n8n/backup/n8n-workflows-2/27AxYsV84GG2z3jT-Telegram-Test.json
{
  "name": "Telegram Test",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1580,
        -860
      ],
      "id": "b60fd7d1-bbfb-47de-9542-fc463650614b",
      "name": "Telegram Trigger",
      "webhookId": "5994ae6f-8ae2-4304-bc00-07d52db2b376",
      "credentials": {
        "telegramApi": {
          "id": "t4l66DHI7iDh0nHk",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=You are a helpful assistant\n\n# You have Tools:\n\n## Call n8n workflow tool\nuse this tool to search the web, wikipedia, hackernews, etc and get up to date data"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -1360,
        -860
      ],
      "id": "52d433f4-88b2-4b5b-b68e-8b52062f01d6",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1000,
        -860
      ],
      "id": "3dc49378-5409-4fdb-9160-8f88d074db48",
      "name": "Telegram",
      "webhookId": "0b6ba96f-a327-46b7-bb25-3a228e7ab005",
      "credentials": {
        "telegramApi": {
          "id": "t4l66DHI7iDh0nHk",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 7
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1380,
        -620
      ],
      "id": "059f8e2b-d424-45b0-a8ab-7e0723837d8c",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "description": "use this tool to search the web, wikipedia, hackernews and up to date infos",
        "workflowId": {
          "__rl": true,
          "value": "y71pDgX3zskfnCRB",
          "mode": "list",
          "cachedResultName": "Search_Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -1160,
        -620
      ],
      "id": "5388885d-b172-4d4a-8a18-bdadcfdc405d",
      "name": "Call n8n Workflow Tool"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1600,
        -620
      ],
      "id": "e80bbb61-78f1-460d-910b-36cabfaad86d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "JoADOk7bBkHrcriK",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Call n8n Workflow Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 1,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}