n8n/backup/n8n-workflows-2/8H5stIyVNq54M6j7-1_Telegram_AI_Assistant.json
{
  "name": "1_Telegram_AI_Assistant",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -780,
        -380
      ],
      "id": "b4d6f6a2-bfc8-405a-b3d0-d3f35c9fc941",
      "name": "Telegram Trigger",
      "webhookId": "272a1704-4d5d-457e-acc7-ac166cef4477",
      "credentials": {
        "telegramApi": {
          "id": "t4l66DHI7iDh0nHk",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "3ac0cee0-e2a3-483d-9cfc-1dcff2b3d380"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "22202186-4f4d-43f1-9491-85853001572f",
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -220,
        -380
      ],
      "id": "0c7a22dd-59b2-4a2c-93e0-d72065a8be80",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "708208a1-42a3-4934-a1bb-14dc0cc9024a",
              "name": "message.text",
              "value": "={{ $('Telegram Trigger').item.json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        120,
        -400
      ],
      "id": "f85d6ea3-f0f7-4d05-9aa9-52531fe6351a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message?.text || $json.text || \"No message received.\" }}\n",
        "options": {
          "systemMessage": "=# Role\n\nyou are an assistant with multiple tools\n\n# Behavior\n\nFriendly\n\n# Date and Time {{ $now }}\n\n# Tools\n\nYou have access to many tools, use the correct one according to the task\n\n\n## Gmail_Tools\nuse this tool every time you need to do something with emails. If you send an email, you will sign every email with \"Wangy\" and never use empty placeholders or names.\nEnsure that emails have a proper body and formatted well.\n\n## Calendar_Tools\nUse this tool whenever you need to do something with the calender\n\n## Search_Agent\nuse this tool to search the web, hackernews and wikipedia\n\n\n## X_Posts\nuse this tool to create and send posts on X\n\n## Contact_Agent\nuse this tool to retrieve and update contact information"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        320,
        -240
      ],
      "id": "72933587-1fd7-41aa-a09d-103019de8a56",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        260,
        0
      ],
      "id": "e9b4e9ab-8ef8-4034-8e1b-075e9de34f83",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "JoADOk7bBkHrcriK",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').item.json.message.voice.file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -40,
        -120
      ],
      "id": "cf7511dc-d5cb-4fd2-bb44-caea6feb873a",
      "name": "Telegram",
      "webhookId": "5b029988-ebb4-4ace-ac27-2974d57279c1",
      "credentials": {
        "telegramApi": {
          "id": "t4l66DHI7iDh0nHk",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {
          "language": "=en"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -20,
        140
      ],
      "id": "5c13e7b5-3292-462b-86c5-61dfe537748b",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "JoADOk7bBkHrcriK",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Switch').item.json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        400,
        0
      ],
      "id": "3fe33747-254b-46e4-9bf1-cf38441ba209",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Switch').item.json.message.chat.id }}",
        "text": "={{\n  $json.output.replace(/[_*[\\]()~`>#+\\-={}!|]/g, '\\\\$&')\n}}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        960,
        -240
      ],
      "id": "578d18a0-ee16-42f2-bca8-d37c8d5d71c1",
      "name": "Telegram1",
      "webhookId": "31564953-57c4-4942-a5bf-a6e61c7749fd",
      "credentials": {
        "telegramApi": {
          "id": "t4l66DHI7iDh0nHk",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "y71pDgX3zskfnCRB",
          "mode": "list",
          "cachedResultName": "Search_Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        480,
        180
      ],
      "id": "a150d117-18ee-4ff8-baee-bae7d089684d",
      "name": "Search_Agent"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "iYfTCJo85Ie8y1yO",
          "mode": "list",
          "cachedResultName": "Sub_Mail_Agents"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        740,
        180
      ],
      "id": "ff25ad75-be89-4db3-b30e-016b6f5cd44b",
      "name": "Gmail_Tools"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "aPahRMLHuMWBguH2",
          "mode": "list",
          "cachedResultName": "Sub_Calendar_Agents"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        620,
        180
      ],
      "id": "644aea03-730a-4428-83ba-5f3f964b1e24",
      "name": "Calendar_Tools"
    },
    {
      "parameters": {
        "description": "use this tool to create posts on X",
        "workflowId": {
          "__rl": true,
          "value": "WitNLAsnO4ZG2yF4",
          "mode": "list",
          "cachedResultName": "Sub_CreateXPosts"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        860,
        180
      ],
      "id": "d22c319b-310c-4828-a4cd-95d8ebd395b8",
      "name": "X_Posts"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "n5CgTzBQvA5Y4RnV",
          "mode": "list",
          "cachedResultName": "Sub_Contact_Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        980,
        180
      ],
      "id": "808cf14b-1d32-49b5-b85f-206263a6f948",
      "name": "Contact_Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "messages": {
          "messageValues": [
            {
              "message": "=You are wangy, a funny guy that makes witty or sarcastic remarks and comments and funny anecdotes about topics.\nYou try to roast the topic. Keep it short and punchy\n\ntopics: {{ $json.output }}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        680,
        -540
      ],
      "id": "e37b5cd6-d92b-4ba0-aa85-380892dfcd73",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        680,
        -360
      ],
      "id": "80a07bef-bb59-47dd-aeb8-a4b4601e3bd4",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "JoADOk7bBkHrcriK",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $json.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1040,
        -540
      ],
      "id": "206caa03-c4aa-4976-bc21-5cd902ca1111",
      "name": "OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "JoADOk7bBkHrcriK",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAudio",
        "chatId": "={{ $('Switch').item.json.message.chat.id }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1260,
        -540
      ],
      "id": "7e4a2b90-7c7d-44ac-b335-2aac25e7dfda",
      "name": "Telegram2",
      "webhookId": "cfb9167e-9202-4881-967f-95a472af38de",
      "credentials": {
        "telegramApi": {
          "id": "t4l66DHI7iDh0nHk",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "23074f77-fcf0-4111-8cef-09aa41adb22e",
              "leftValue": "={{ $json.message.chat.id }}",
              "rightValue": "={{ $json.message.from.id }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "e3577214-600a-43e1-ac0b-2f513d1a264b",
              "leftValue": "={{ $json.message.from.username }}",
              "rightValue": "wangan0805",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -560,
        -380
      ],
      "id": "b380fd04-557e-4e16-8acf-0d46f4165b39",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -360,
        -200
      ],
      "id": "986d6fcf-bb4d-42a4-b164-afb205c6d325",
      "name": "No Operation, do nothing"
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Search_Agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gmail_Tools": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calendar_Tools": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "X_Posts": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Contact_Agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "Telegram2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}