n8n/backup/n8n-workflows-2/rx33nNJLYLwZDa8o-Telegram-Test2.json
{
  "name": "Telegram Test2",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -740,
        -380
      ],
      "id": "5e867964-9c1a-47cc-8617-4b60d39421e3",
      "name": "Telegram Trigger",
      "webhookId": "272a1704-4d5d-457e-acc7-ac166cef4477",
      "credentials": {
        "telegramApi": {
          "id": "t4l66DHI7iDh0nHk",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "3ac0cee0-e2a3-483d-9cfc-1dcff2b3d380"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "22202186-4f4d-43f1-9491-85853001572f",
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -520,
        -380
      ],
      "id": "c2c10bd3-c931-4874-9dbd-4f3ee937ae4e",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "708208a1-42a3-4934-a1bb-14dc0cc9024a",
              "name": "message.text",
              "value": "={{ $('Telegram Trigger').item.json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -280,
        -400
      ],
      "id": "73bd68e4-ecef-432f-a648-852d81ee974f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message?.text || $json.text || \"No message received.\" }}\n",
        "options": {
          "systemMessage": "=# Role\n\nyou are an assistant with multiple tools\n\n# Behavior\n\nFriendly\n\n# Date and Time {{ $now }}\n\n# Tools\n\nYou have access to many tools, use the correct one according to the task\n\n## Gmail_getMany\nUse this tool to summarise emails\n\n## Gmail_Send\nuse this tool to send emails. You sign off every email with \"Wangy\" and never use empty placeholders for names. \nEnsure emails are well-formatted with a proper body.\n\n## Calendar_Set\nUse this tool to schedule appointments in the calender\n\n## Calendar_Get\nUse this tool to find calendar events and inform me when I have an appointment"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -80,
        -240
      ],
      "id": "792ac6a9-94d8-4d9b-bff6-e17e7df891e0",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -140,
        0
      ],
      "id": "556e47a5-7ab5-4d86-a392-524dffcf76ec",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "JoADOk7bBkHrcriK",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').item.json.message.voice.file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -440,
        -120
      ],
      "id": "42af545b-8e98-4512-94e0-b5d4b66a6303",
      "name": "Telegram",
      "webhookId": "5b029988-ebb4-4ace-ac27-2974d57279c1",
      "credentials": {
        "telegramApi": {
          "id": "t4l66DHI7iDh0nHk",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {
          "language": "=en"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -420,
        140
      ],
      "id": "746376a2-dd7a-4620-bfb0-c4ba29cde94f",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "JoADOk7bBkHrcriK",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Switch').item.json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "de84df96-b509-4880-93c0-c5bec4cfdee1",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Switch').item.json.message.chat.id }}",
        "text": "={{\n  $json.output.replace(/[_*[\\]()~`>#+\\-={}!|]/g, '\\\\$&')\n}}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        340,
        -240
      ],
      "id": "f2c4ff10-caa6-46fe-a530-141e9bd9467e",
      "name": "Telegram1",
      "webhookId": "31564953-57c4-4942-a5bf-a6e61c7749fd",
      "credentials": {
        "telegramApi": {
          "id": "t4l66DHI7iDh0nHk",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 10,
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        120,
        280
      ],
      "id": "51264afc-d088-4c23-8a70-fa299c572034",
      "name": "Gmail_getMany",
      "webhookId": "e9050b23-e435-4146-b64b-8ea447b21847",
      "credentials": {
        "gmailOAuth2": {
          "id": "AczzxtLeykGIWiZM",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        340,
        260
      ],
      "id": "54550d7e-26c9-46f4-9f79-66c97ab9ef5b",
      "name": "Gmail_Send",
      "webhookId": "b61fb2bf-680f-4a8a-84d4-13edd7999ee2",
      "credentials": {
        "gmailOAuth2": {
          "id": "AczzxtLeykGIWiZM",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "wangwhpt@gmail.com",
          "mode": "list",
          "cachedResultName": "wangwhpt@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -80,
        260
      ],
      "id": "7f95a524-e434-48bf-ba01-5a5d9437ab1b",
      "name": "Google_Set",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Nmj2So2XgHWVJhKJ",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "wangwhpt@gmail.com",
          "mode": "list",
          "cachedResultName": "wangwhpt@gmail.com"
        },
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        480,
        120
      ],
      "id": "ace71405-b73d-410d-bdfb-8dee98e4f486",
      "name": "Calendar_Get",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Nmj2So2XgHWVJhKJ",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail_getMany": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gmail_Send": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google_Set": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calendar_Get": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}